/* body {
  background: #333;
} */

#myChart {
  height: 400px;
  width: 400px;
}

#continents {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#continents button {
  padding: 1rem 4rem;
  background-color: aqua;
  border-color: aqua;
}

#continents button:hover {
  cursor: pointer;
}

#btns {
  width: 100vw;
}

#btns button {
  padding: 1rem 2rem;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  background-color: aqua;
  border-color: aqua;
}

#btns button:hover {
  cursor: pointer;
}